{% extends 'base.html' %}

{% block blogs %}
{% for blog in blog %}
<div class="col-lg-6">
    <!-- Blog post-->
    
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{blog.posted}}</div>
            <h2 class="card-title h4">{{blog.title}}</h2>
            <p class="card-text">{{blog.summary}}</p>
            <a class="btn btn-primary" href="{% url 'detail_view' blog.id %}">Read more →</a>
        </div>
    </div>
    
    <!-- Blog post-->

</div>
{% endfor %}
{% endblock blogs %}                        