{% extends 'base.html' %}


{% block detail %}
<div class="col-lg-6">
    <!-- Blog post-->
    
    <div class="card mb-5 w-200" style="width: 90vh; height: fit-content;">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">{{detail.posted}}</div>
            <h2 class="card-title h4">{{detail.title}}</h2>
            <p class="card-text">{{detail.summary}}</p>
            <p class="card-text">{{detail.topic}}</p>
        </div>
    </div>
    
    <!-- Blog post-->

</div>
{% endblock detail %}